<%= provide(:title, 'Все Игры') %>

<div class="list-games">
  <div class="box">
    <%= link_to image_tag("rsp.jpeg", class: "size-photo-preview"), description_path %>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
          In eius, excepturi recusandae hic autem velit similique,
          illum est rem sint, exercitationem vel nesciunt labore.
          Blanditiis qui quos nostrum iusto adipisci.
      </p>
    </div>

     <div class="box">
    <%= image_tag("", class: "size-photo-preview") %>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
          In eius, excepturi recusandae hic autem velit similique,
          illum est rem sint, exercitationem vel nesciunt labore.
          Blanditiis qui quos nostrum iusto adipisci.
      </p>
    </div>
     <div class="box">
    <%= image_tag("", class: "size-photo-preview") %>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
          In eius, excepturi recusandae hic autem velit similique,
          illum est rem sint, exercitationem vel nesciunt labore.
          Blanditiis qui quos nostrum iusto adipisci.
      </p>
    </div>
     <div class="box">
    <%= image_tag("", class: "size-photo-preview") %>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
          In eius, excepturi recusandae hic autem velit similique,
          illum est rem sint, exercitationem vel nesciunt labore.
          Blanditiis qui quos nostrum iusto adipisci.
      </p>
    </div>
     <div class="box">
    <%= image_tag("", class: "size-photo-preview") %>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
          In eius, excepturi recusandae hic autem velit similique,
          illum est rem sint, exercitationem vel nesciunt labore.
          Blanditiis qui quos nostrum iusto adipisci.
      </p>
    </div>
     <div class="box">
    <%= image_tag("", class: "size-photo-preview") %>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
          In eius, excepturi recusandae hic autem velit similique,
          illum est rem sint, exercitationem vel nesciunt labore.
          Blanditiis qui quos nostrum iusto adipisci.
      </p>
    </div>
  </div>
